TELEGRAM_BOT_TOKEN=PEGA_TU_TOKEN_AQUI
BROWSER_HEADLESS=false

# --- Jobs ---
LINKEDIN_EMAIL=
LINKEDIN_PASSWORD=
BUMERAN_EMAIL=
BUMERAN_PASSWORD=

# --- Config ---
# Lima, Peru es el default en settings.py, pero puedes forzarlo aqui
DEFAULT_LOCATION=Lima, Peru
